.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.header-container {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }
}
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  color: inherit;
  text-decoration: none;
}
.menu__link:hover, .menu__link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;
}

.menu__curent {
  position: relative;
  display: block;
  color: #2196F3;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.menu__curent::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  bottom: 0;
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent {
  color: #2196F3;
}

.header-button {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.header-button:hover, .header-button:focus {
  background-color: #2196F3;
}

@media (min-width: 768px) {
  .header-button {
    display: none;
  }
}
.menu-container .header-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.site-contact {
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style: none;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 0;
}

@media screen and (min-width: 1200px) {
  .site-contact {
    display: flex;
    font-size: 14px;
    line-height: 1.43;
  }
  .site-contact__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: #757575;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
  }
  .site-contact__link:hover, .site-contact__link:focus {
    color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-contact__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .site-contact__tel {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 50px;
    color: #757575;
    align-items: center;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-contact__tel:hover, .site-contact__tel:focus {
    color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (max-width: 767px) {
  .site-contact {
    display: none;
  }
}
.site-contact__item:not(:last-child) {
  padding-bottom: 10px;
}

.site-contact__link {
  text-decoration: none;
  color: #757575;
  fill: currentColor;
  display: inline-block;
}

.site-contact__icon {
  margin-right: 8px;
  fill: currentColor;
}

.site-contact__tel {
  color: #757575;
  text-decoration: none;
}

.nav {
  margin-bottom: 302px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.mobile-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-link__curent {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.contact {
  margin-bottom: 64px;
}

.contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.contact__item:not(:last-child) {
  padding-bottom: 32px;
}

.contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.social {
  display: flex;
}

.social-list {
  display: flex;
}

.social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.social-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.social-list__item:not(:first-child) {
  padding-left: 10px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  max-height: 796px;
  padding: 32px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: none;
}

.menu-container.is-open {
  transform: translateX(0);
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0, 9);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 609px;
  width: 450px;
  background-color: #FFFFFF;
  display: flex;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.form {
  display: flex;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  width: 370px;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    width: 448px;
  }
}
.modal-form__icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  fill: #212121;
  top: 60%;
  left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field {
  position: relative;
  width: 370px;
}
.modal-form__field:focus-within > .modal-form__icon {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field:focus-within > .modal-form__input {
  outline: none;
  border: 1px solid #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 370px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
  }
}
.terms {
  color: #2196F3;
}

.label {
  display: inline-block;
  align-items: center;
  padding-left: 36px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.17;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  left: 0;
}
.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url(../images/check\ \(1\).svg);
  background-size: contain;
  background-origin: border-box;
  width: 16px;
  height: 15px;
  left: 52px;
}

.checkbox-icon {
  margin-right: 10px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  position: absolute;
  left: 52px;
  outline: none;
}

.textarea {
  display: flex;
  flex-direction: column;
}

.textarea-comment {
  resize: none;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
  outline: none;
  border: 1px solid #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .textarea-comment {
    width: 448px;
  }
}
::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.button-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: Roboto, sans-serif;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 10px 52px;
}

.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  left: 412px;
  top: 8px;
}

@media screen and (min-width: 1200px) {
  .btn-close {
    left: 490px;
  }
}
.btn-close__icon {
  background: #FFFFFF;
  fill: rgb(0, 0, 0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close__icon:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196F3;
}

.hero {
  text-align: center;
}

.hero-overlay {
  height: 400px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    width: 1200px;
    height: 600px;
    padding-top: 200px;
  }
}
.hero-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 360px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: none;
}

.section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 60px;
  }
}
.quality {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.quality-list__item {
  width: 450px;
}

.quality-list__item:not(:first-child) {
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .quality-list__item {
    width: 354px;
  }
  .quality-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .quality-list__item:not(:first-child) {
    padding-top: 0;
  }
  .quality-list__item:nth-child(n+3) {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .quality-list__item {
    width: 270px;
    margin-right: 30px;
  }
  .quality-list__item:last-child {
    margin-right: 0;
  }
  .quality-list__item:nth-child(n+3) {
    padding-top: 0;
  }
}
.quality-list__pictures {
  width: 450px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .quality-list__pictures {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .quality-list__pictures {
    width: 270px;
    margin-bottom: 30px;
  }
}
.section-title-list {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 11px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title-list {
    text-align: left;
  }
}
.work {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
  }
  .work-list {
    display: flex;
  }
  .work-list__item {
    width: 370px;
    margin-right: 30px;
  }
  .work-list__item:last-child {
    margin-right: 0;
  }
  .work-list__img {
    position: relative;
    z-index: -1;
  }
  .work-list__text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
  }
}
.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}
.section-team {
  background-color: #F5F4FA;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }
}
.team-item {
  background: #FFFFFF;
  margin-right: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  width: 450px;
  height: 622px;
}
.team-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
    height: 536px;
  }
  .team-item:nth-child(odd) {
    margin-right: 30px;
  }
  .team-item:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
    height: 428px;
  }
}
.team-item__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  margin-top: 30px;
}

.team-item__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  display: block;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .team-social {
    padding-bottom: 24px;
  }
}
.team-social__item {
  margin: 0 10px 0 0;
}

.team-social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__icon:hover, .team-social__icon:focus {
  fill: #FFFFFF;
  background: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients {
  padding-top: 60px;
}

.client-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client-lis__item:nth-child(n+3) {
  padding-top: 30px;
}

.client-list__areal {
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__areal:hover > svg, .client-list__areal:focus > svg {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__areal:hover, .client-list__areal:focus {
  border-color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .client-list__areal {
    width: 226px;
  }
  .client-lis__item:nth-child(n+3) {
    padding-top: 0;
  }
  .client-lis__item:nth-child(n+4) {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__areal {
    width: 170px;
  }
  .client-lis__item:nth-child(n+4) {
    padding-top: 0;
  }
}
.client-list__icon {
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}/*# sourceMappingURL=main.css.map */