.btn-close {
    position: absolute;
    display: flex;
    align-items: center;
     justify-content: center;
     width: 30px;
     height: 30px;
     background-color: $text-color-white;
     border-radius: 50%;
     border: 1px solid rgba(0, 0, 0, 0.1);
     left: 85%;
     top: 8px;
    
 }
 @media screen and (min-width: 480px) {
    .btn-close{
        left: 412px;
    }
     }
 @media screen and (min-width: 1200px) {
    .btn-close{
        left: 490px;
    }
     }
    

.btn-close__icon {
 
    background: $text-color-white;
    fill: $text-color-black;
    transition: 250ms $timing-function; 
    &:hover {
        transition: 250ms $timing-function;
        fill: $accent-color;
    }
    }