.footer {
    background: $secondary-color;
    padding-top: 60px;
    padding-bottom: 60px;
    
      
    }
    @media screen and (min-width: 768px) {
        .footer {
            height: 463px;
        }
    }    

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        .footer {
            flex-wrap: nowrap;
            height: 252px;
        }
    }