.quality {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
    
    .quality-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    
    }
    .quality-list__item:not(:first-child) {
        padding-top: 30px;
         }
    
    @media screen and (min-width: 480px) {
        .quality-list__item {
            width: 450px;
        } 
        .quality-list__pictures {
            width: 450px;
            height: 120px;
    }
}
    

         @media screen and (min-width: 768px) {
            .quality-list__item {
               width: 354px;
             
            }
            .quality-list__item:nth-child(2n+1) {
                margin-right: 30px;
                
                    }
            .quality-list__item:not(:first-child) {
                padding-top: 0;
        }
    
        .quality-list__item:nth-child(n+3) {
            padding-top: 30px;
    }
        }
    
        @media screen and (min-width: 1200px) {
            .quality-list__item {
                width: 270px;
                margin-right: 30px;
            }
                .quality-list__item:last-child {
                    margin-right: 0;
                    }
                    .quality-list__item:nth-child(n+3) {
                        padding-top: 0;
                }
                } 
    
    
     
        .quality-list__pictures {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F5F4FA;
             border-radius: 4px;
             margin-bottom: 30px;  
             height: 120px;
             }
    
    
         
    
        @media screen and (min-width: 768px) {
            .quality-list__pictures {
               width: 354px;
            }
         
    }
    
    
    @media screen and (min-width: 1200px) {
        .quality-list__pictures {
            width: 270px;
        margin-bottom: 30px  
        }
    }
   
         
       