.section-title-list {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 11px;  
    text-align: center;
    }

    @media screen and (min-width: 1200px) {
        .section-title-list{
          text-align: left;
        }
    }