.textarea {
    display: flex;
    flex-direction: column;
}
.textarea-comment {
resize: none;
width: 370px;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 12px 16px;
transition: 250ms $timing-function;
&:focus {
    outline: none;
    border: 1px solid $accent-color;
    transition: 250ms $timing-function;
    }
}
@media screen and (min-width: 1200px) {
    .textarea-comment{
     width: 448px;
     }
     }

::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}