$primary-white-color: #F5F5F5;
$secondary-color: #2F303A;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$button-background-color: #F5F4FA;
$text-color-white: #FFFFFF;
$text-color-black: #000000;
$icon-color: #AFB1B8;
$timing-function: cubic-bezier(0.4,0,0.2,1);